.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 24px 40px;
}

@media (min-width: 768px) {
  .main {
    gap: 56px;
    padding: 0 40px 56px;
  }
}
